.main-login-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.login-title{
    background-color: rgba(116, 221, 109, 0.641);
    width: 100%;
    text-align: center;
}

.form-div{
    width: 460px;
    margin: 160px 0px;
    padding: 15px 0 25px 0;
    display: flex;
    font-size: 20px;
    flex-direction: column;
    align-items: center;
    background-color: rgb(251, 216, 218);
    border-radius: 30px;
    border: 4px rgb(248, 205, 208) solid;
}

.input-field{
    width: 250px;
    text-align: center;
    background-color: aliceblue;
    border: 2px rgb(236,126,131) solid;
    border-radius: 5px;
}

.pink{
    margin-top: 20px;
    background-color: rgb(236,126,131);
    border: none;
    border-radius: 7px;
    cursor: pointer;
    padding: 5px 10px;
}

.pink:hover,
.input-field:hover{
    font-size: 16px;
}

